Viewer/Connected Services/SR_Aggregated/Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAggregatedPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AggregatedPerson" nillable="true" type="tns:AggregatedPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAggregatedPerson" nillable="true" type="tns:ArrayOfAggregatedPerson" />
  <xs:complexType name="AggregatedPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Givenname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsStudent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentID" type="ser:guid" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AggregatedPerson" nillable="true" type="tns:AggregatedPerson" />
</xs:schema>